.DS_Store
ltximg/
__pycache__/
*~

# Jupyter Notebook
*.ipynb
.ipynb_checkpoints
profile_default/
ipython_config.py

# latex 
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.xdv
*-converted-to.*
_minted*
*.pyg
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.thm
*.nav
*.pre
*.snm
*.vrb
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*-gnuplottex-*